<SolutionPackager>
  <Connections>
    <Connection>
      <Name>Ghost Dev</Name>
      <OrgId>594885b7-99de-e611-9568-0050568840bf</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jcm10ZXN0LmludGVybmFsLmdvdnQvRGV2Q1JNO0RvbWFpbj1pbnRlcm5hbDtVc2VybmFtZT1hMjI3NjU7UGFzc3dvcmQ9ZW52QSFtb25kMTQ7QXV0aFR5cGU9QUQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>6.1.3.119</Version>
    </Connection>
  </Connections>
  <Solutions>
    <Solution>
      <OrgId>594885b7-99de-e611-9568-0050568840bf</OrgId>
      <ProjectName>FieldConcatenation2013</ProjectName>
      <SolutionId>4fe92fe3-4ce4-e711-84ef-0050568840bf</SolutionId>
      <DownloadManaged>false</DownloadManaged>
    </Solution>
  </Solutions>
</SolutionPackager>