<SolutionPackager>
  <Connections>
    <Connection>
      <Name>Local VM</Name>
      <OrgId>18694035-07b7-4af1-84ef-3823c66ebe58</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xOTIuMTY4LjIzMy4xMzEvQ0VSO0RvbWFpbj1ib3NjaHk7VXNlcm5hbWU9YWRtaW5pc3RyYXRvcjtQYXNzd29yZD1BIW1vbmQxNTtBdXRoVHlwZT1BRDtSZXF1aXJlTmV3SW5zdGFuY2U9dHJ1ZTs=</ConnectionString>
      <Version>8.2.0.749</Version>
    </Connection>
  </Connections>
  <Solutions>
    <Solution>
      <OrgId>18694035-07b7-4af1-84ef-3823c66ebe58</OrgId>
      <ProjectName>FieldConcatenation</ProjectName>
      <SolutionId>3c9581d8-4f1e-e711-80cd-000c29a009d2</SolutionId>
      <DownloadManaged>false</DownloadManaged>
    </Solution>
  </Solutions>
</SolutionPackager>